table,th,td,tr{border: 2px solid black;
text-align: center;
background-color: aliceblue;}
body{background-color: greenyellow;}
h3{color: red;text-decoration: underline ;}
h4{color:crimson;
font-style: italic;}
h2{weight: bold;}
h1{text-align: center;}
p{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
ul,ol{font-weight: 300;
margin-left: 2px;}
img{border: 3px solid rgb(4, 56, 2); border-radius: 10px;}